<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Starlight">
        <wb-resource deploy-path="/" source-path="/war"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="java-output-path" value="/StudentManager/war/WEB-INF/classes"/>
        <property name="context-root" value="Starlight"/>
    </wb-module>
</project-modules>
