/** Add css rules here for your application. */
body {
	width: 100%;
	background-color: White;
}

.vp {
	background-color: #E3E3E3;
}

.marginZero {
	margin: 0 0 0 0;
}

.redlabel {
	color: red;
}

.gwt-MenuBarPopup {
    z-index: 20000;
}

.textBold {
	font-weight: bold;
}

.page {
	background-color: white;
	border: 1px solid #CCCCCC;
	margin: 7 auto;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 50px;
	padding-left: 25px;
}

.starLightDialogWrapper {
	background: white;
	padding: 10px;
	border: 4px solid powderblue;
	border-radius: 15px;
	box-shadow: 0px 0px 25px powderblue;
}

.caption {
	font-size: 26px;
	text-align: left;
}

.centeredPanel {
	margin: 10px auto;
}

.headings {
	font-size: 20px;
	font-weight: bold;
}

.dialogButton {
	font-size: 16px;
	font-color: black;
}

.workbookLinks {
	padding-top: 5px;
	border-top: 2px solid #555555;
}

.workbookLinks .gwt-Anchor:hover {
	color: cornflowerblue;
	text-decoration: underline;
}

.workbookLinks .gwt-Anchor:active {
	color: cornflowerblue;
	text-decoration: underline;
}

.workbookLinks .gwt-Anchor {
	color: cornflowerblue;
}

.cellList table {
	border: 1px solid #555555;
}

.dragdrop-dropTarget-engage {
	background-color: #E0E8FF;
}

.getting-started-label {
	border: 1px solid #99AACC;
	background-color: #AACCFF;
	padding: 0.1em;
}

.getting-started-blue {
	border: 1px solid blue;
}

.tooltip{
	border: 1px solid #808080;
	background-color: #C0C0C0;
	padding: 2px;
	z-index:200;
}
.heading {
	padding-botton:10px;
	font-size: 20px;
	font-family:Arial,Helvetica,sans-serif;
	font-weight: normal;
}
.infoGrid {
	padding-left: 20px;
}
.border {
border: 1px solid #CCC;
padding: 4px;
}