@sprite .divBody {
	color: black;
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 100%;
	gwt-image: "toolbarbg";
	height: 100%;
}

@sprite .starlightText {
	gwt-image: "starLightLogo";
	width: 250px;
}

.divToolbar {
	background: transparent;
	height: 50px;
}

.divContainer {
	width: 1024px;
	background: transparent;
	margin: 3px 0px;
	height: 300px;
}

.toolBar {
	margin-top: 10px;
	background: transparent;
	colour: white;
}

.menuBar {
	background: transparent;
	font-size: 70%;
	padding-top: 16px;
	padding-left: 5px;
}

@sprite .pagerLabelRight {
	text-decoration: none;
	color: #2b97bd;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 5px;
	padding-right: 15px;
	gwt-image: "rightArrow";
	background-position: right center;
}

@sprite .pagerLabelLeft {
	text-decoration: none;
	color: #2b97bd;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 5px;
	padding-left: 15px;
	gwt-image: "leftArrow";
	background-position: left center;
}

@sprite .newMessage {
	width: 20px;
	height: 20px;
	gwt-image: "newMessage";
	background-position: left center;
}

@sprite .noNewMessage {
	width: 20px;
	height: 20px;
	gwt-image: "noMessage";
	background: transparent;
}

.pagerLabelRight:HOVER {
	color: #4fccf7;
}

.pagerLabelLeft:HOVER {
	color: #4fccf7;
}

@sprite .loading {
	padding-left: 18px;
	gwt-image: "spinner";
	background-position: left center;
}

.anchor {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #2b97bd;
	cursor: pointer;
	background: transparent;
	padding: 2px 10px;
}

.anchor:HOVER {
	color: #4fccf7;
}

.logoutPanel {
	padding-top: 16px;
	text-align: right;
	width: 100px;
}

.menuBarAnchor {
	font-size: 16px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	background: transparent;
	padding: 2px 10px;
}

.menuBarAnchor:hover {
	text-shadow: 0px 0px 4px #BBB;
	color: white;
}

.menuBarAnchor:active {
	text-shadow: 0px 0px 8px white;
}

.page {
	background: tranparent;
	/*  background-color: white;*/ /*border: 1px solid #CCCCCC;*/
	margin-left: auto;
	margin-right: auto;
	padding-top: 1px;
	padding-bottom: 5px;
	padding-right: 1px;
	padding-left: 1px;
	min-height: 267px;
}

.windowHeading {
	font-size: 24px;
	font-weight: bold;
	color: black;
	padding-bottom: 10px;
}

.subHeading {
	font-size: 14px;
	font-weight: bold;
	color: black;
	padding-bottom: 5px;
	border-bottom: 1px solid #555555;
}

.secondaryNavigation { /* border-top: 1px solid #ccc; */
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-right: -1px;
	z-index: 1;
}

@sprite .secondaryNavigation .anchor {
	display: block;
	width: 94px;
	margin: -1px 0 0 0;
	padding: 4px 5px 5px 10px;
	text-decoration: none;
	background-color: #ededed;
	background-repeat: repeat-x;
	gwt-image: "secondaryNavBg";
	/* background-image: url(http://cdn.lst.fm/flatness/secondary_nav_bg.png); */
	/* background-image: -moz-linear-gradient(top, #fff, #ddd 70%);
    background-image: -webkit-linear-gradient(top, #fff, #ddd 70%); */
	height: 24px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	color: #696969;
}

.secondaryNavigation .anchor:hover {
	color: #2b97bd;
	background: #FFF;
}

.secondaryNavigation .currentPage {
	font-size: 14px;
	font-weight: bold;
	display: block;
	width: 94px;
	margin: 0 0 0 0;
	padding: 4px 5px 5px 10px;
	text-decoration: none;
	color: #2b97bd;
	background: #FFF;
	border-right: 0;
	border-top: 1px solid #ccc;
}

.scrollPanel {
	padding: 10px;
	background-color: white;
	z-index: 0;
}

.transPanel {
	background: transparent;
}

.pictureGrid td {
	/* border: 1px solid #BBBBBB; */
	padding: 2px;
	size: 104px 104px;
}

.helpTip {
	color: #2b97bd;
	font-style: italic;
	font-size: 110%;
}

.fitToParent {
	height: 100%;
	width: 100%;
}

.imagePanel {
	border: 1px solid #BBBBBB;
	padding: 2px;
	size: 104px 104px;
}

/* -------------------------------------- */
.title {
	font-size: 24px;
	color: #111;
	padding-bottom: 3px;
}

.heading {
	font-size: 18px;
	color: #112;
	font-weight: 900;
	padding-bottom: 5px;
	padding-top: 5px;
}

.headingblue {
	color: #2b97bd;
	font-style: italic;
	font-size: 16px;
	font-weight: 900;
	padding-bottom: 5px;
	padding-top: 5px;
}

.chatPanel{
	padding: 5px;
	height: 400px;
	
}

.messagePanel{
		border: 1px solid #e3e3e3;
		width: 500px;
		height: 300px;
}

.subTitle {
	font-size: 12px;
	color: #5C5C5C;
	padding-bottom: 3px;
	border-bottom: 1px solid #111;
}

.footer {
	font-size: 12px;
	color: #888;
	padding-bottom: 3px;
	padding-top: 3px;
	border-top: 1px solid #888;
	text-align: center;
}

.titleDivMargin {
	width: 100%;
	border-bottom: 1px solid #5C5C5C;
	margin-bottom: 20px;
}

.titleDiv {
	width: 100%;
	border-bottom: 1px solid #5C5C5C;
}

.windowDiv {
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.formInput {
	color: #5C5C5C;
}

.formLabel {
	color: black;
	font-weight: bold;
}

.image {
	padding: 1px;
	width: 160px;
	height: 160px;
	margin-right: 20px;
	border: 1px solid #ccb;
	text-align: center;
	vertical-align: center;
}

.backPanel {
		padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;
	border: 1px solid #ccc;
	background-color: white;
	width: 900px;
	z-index: 0;
}

.blackHeading {
	background-color: #B3D5F0;
	font-size: 13px;
	font-weight: bold;
	color: black;
	padding-bottom: 3px;
	border: 1px solid #95B4CD;
}

