@sprite .divBody {
	margin: 0px;
	border: 0px;
	gwt-image: "purpleStars";
	text-align: center;
	vertical-align: top;
	height: 730px;
}

@sprite .starlightText {
	padding-top: 10px;
	padding-left: 5px;
	gwt-image: "starLightLogo";
	width: 250px;
}

@sprite .speechBubble {
	padding: 28px 33px 80px 28px;
	gwt-image: "speechBubble";
}

@sprite .pagerLabelRight {
	text-decoration: none;
	color: #2b97bd;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 5px;
	padding-right: 15px;
	gwt-image: "rightArrow";
	background-position: right center;
}

@sprite .pagerLabelLeft {
	text-decoration: none;
	color: #2b97bd;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 5px;
	padding-left: 15px;
	gwt-image: "leftArrow";
	background-position: left center;
}

.flowPanel{
		width: 1000px;
		text-align: center;
		vertical-align: center;
		display: inline;
		margin: 0 auto;
	
}

.anchorLinks {
	font-size: 14px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 0px 0px 4px #BBB;
	padding: 10px;
}

.anchorLinks:hover {
	text-shadow: 0px 0px 15px #FFF;
	color: white;
}


.pager {
	font-size: 60px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 0px 0px 4px #BBB;
	padding-left: 15px;
	padding-right: 15px;
}

.pager:hover {
	text-shadow: 0px 0px 15px #FFF;
	color: white;
}

.divToolbar {
	background: transparent;
	height: 50px;
}

.divContainer {
	width: 1024px;
	background: transparent;
	margin: 3px 0px;
	height: 300px;
}

.toolBar {
	margin-top: 10px;
	background: transparent;
	colour: white;
}

.menuBar {
	background: transparent;
	font-size: 70%;
	padding-top: 16px;
	padding-left: 5px;
}

@sprite .loading {
	padding-left: 18px;
	gwt-image: "spinner";
	background-position: left center;
}

.logoutPanel {
	padding-top: 16px;
	text-align: right;
	width: 100px;
}

.menuBarAnchor {
	font-size: 16px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	background: transparent;
	padding: 2px 10px;
}

.menuBarAnchor:hover {
	text-shadow: 0px 0px 4px #BBB;
	color: white;
}

.menuBarAnchor:active {
	text-shadow: 0px 0px 8px white;
}

.page {
	background: tranparent;
	/*  background-color: white;*/ /*border: 1px solid #CCCCCC;*/
	margin-left: auto;
	margin-right: auto;
	padding-top: 1px;
	padding-bottom: 5px;
	padding-right: 1px;
	padding-left: 1px;
	min-height: 267px;
	gwt-image: "purpleStars";
	width: 1366px;
}

.windowHeading {
	font-size: 24px;
	font-weight: bold;
	color: black;
	padding-bottom: 10px;
}

.subHeading {
	font-size: 14px;
	font-weight: bold;
	color: black;
	padding-bottom: 5px;
	border-bottom: 1px solid #555555;
}

.scrollPanel {
	padding-left: 15px;
	padding-right: 15px;
	background-color: transparent;
	z-index: 0;
	width: 1075px;
	height: 637px;
}

.transPanel {
	background: transparent;
}

.fitToParent {
	height: 100%;
	width: 100%;
}

.imagePanel {
	padding: 2px;
	height: 255px;
}

/* -------------------------------------- */
.title {
	font-size: 40px;
	color: white;
	padding-bottom: 3px;
	
}

.heading {
	font-size: 18px;
	color: #112;
	font-weight: 900;
	padding-bottom: 5px;
	padding-top: 5px;
}

.headingblue {
	color: #2b97bd;
	font-style: italic;
	font-size: 16px;
	font-weight: 900;
	padding-bottom: 5px;
	padding-top: 5px;
}

.subTitle {
	font-size: 12px;
	color: white;
	padding-bottom: 3px;
	margin-bottom: 15px;
}

.footer {
	font-size: 12px;
	color: white;
	font-weight: bold;
	padding-bottom: 3px;
	padding-top: 3px;
	border-top: 1px solid white;
	text-align: center;
}

.titleDivMargin {
	margin-bottom: 10px;
	text-align: center;
	margin: 0 auto;
}

.windowDiv {
	width: 100%;
}

.formInput {
	color: #5C5C5C;
}

.formLabel {
	color: black;
	font-weight: bold;
}

.backPanel {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;
	z-index: 0;
}

.blackHeading {
	background-color: #B3D5F0;
	font-size: 13px;
	font-weight: bold;
	color: black;
	padding-bottom: 3px;
	border: 1px solid #95B4CD;
}

.imageAnimation {
	color: white;
	font-size: 24;
	text-align: center;
	height: 240px;
	float: left;
	padding: 0 15px;
	margin: 0 auto;
}

.imageAnimation:hover {
	-moz-animation: wiggle .3s 1;
	-moz-animation-timing-function: ease-out;
	-webkit-animation: wiggle .3s 1;
	-webkit-animation-timing-function: ease-out;
}

@-moz-keyframes wiggle {
	from { -moz-transform: rotate(-10deg);}
	33%  { -moz-transform: rotate(10deg);}
	66%  { -moz-transform: rotate(-10deg);}
	to   { -moz-transform: rotate(10deg);}
}


@-webkit-keyframes wiggle {
	from { -moz-transform: rotate(-10deg);}
	33%  { -moz-transform: rotate(10deg);}
	66%  { -moz-transform: rotate(-10deg);}
	to   { -moz-transform: rotate(10deg);}
}