
@sprite .divBody {
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 100%;
	height:100%; 
	gwt-image: "stars";
	vertical-align: top;

}

.loginWindow {
	
}

@sprite .starLightLogo {
	width: 462px;
	height:100px;
	margin: 50px auto 10px auto;
	gwt-image: "starLightLogo";
}